[DEFAULT]
udp_session_timeout = 3
num_of_packets = 6000 
inter_packet_departure_spacing = 1000000
probe_packet_length = 1100
dest_addr = 131.179.192.201
compression_node_addr = 131.179.192.201
results_data_file_path = ../../results_data/
log_file_path = ../../log/
inter_experiment_sleep_time = 10
experiment_scenario_id = 0
