[DEFAULT]
udp_session_timeout = 3000
num_of_packets = 6000 
inter_packet_departure_spacing = 0
probe_packet_length = 1480
dest_addr = 203.30.39.238
compression_node_addr = 131.179.192.136
results_data_file_path = /home/ucla_triton/triton/results_data/
log_file_path = /home/ucla_triton/triton/logs/
inter_experiment_sleep_time = 60
experiment_scenario_id = 0
